@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
    --max-width: 1100px;
    --border-radius-sm: 0.3rem;
    --letter-spacing-sm: 0.2rem;
    --line-height-sm: 1.8;

    --font-size-sm: 9px;
    --font-size-md: 13px;
    --font-size-lg: 16px;
    --font-size-xl: 21px;

    --font-family-primary: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --color-background-primary: #ffffff;
    --color-background-secondary: #f2f2f2;
    --color-background-ternary: #f8f8f8;
    --color-font-primary: #1c1b1b;
    --color-font-secondary: #6a6a6a;
    --color-danger: #cd5c5cff;
    --color-disabled: #717070;
    --color-success: #3ed168;
    --color-accent-primary: #084653;
    --color-accent-secondary: #9a8268;

    --screen-size-sm: 640px;

    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
}

body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    color: var(--color-font-primary);
    background: var(--color-background-primary);
    line-height: var(--line-height-sm);
}

a {
    color: inherit;
    text-decoration: none;
}